#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: var(--color-blue-50);
 
  

}
label{
  margin: 5px 0 px 0;
}

h1{
  color: var(--color-gray-950);
  font-family: Arial;
  text-align: center;
  font-size: 50px;
  border-color: var(--color-gray-950);
  border-width: 5px;
  border-radius: 15px;
  background-color: var(--color-blue-200);
}

h4{font-size: 12px;}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-blue-200);
  border-color: var(--color-gray-800);
  border-width: 2px;
  width: 100vw;
}

.pushRight {
  float:right; /* Pushes everything after it to the right. For login and register */
}

li {
  color: var(--color-gray-800);
  float:left; /*aligns list horizontally to the left*/
}

div a { /*styling for each link*/
  background-color: var(--color-blue-200);
  color: var(--color-gray-800);
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}

/* Change the link block to black on hover */
div a:hover {
  background-color: var(--color-blue-300);
}


.loginDiv{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  background-color: var(--color-blue-200);
  border-color: black;
  border-style:solid;
  border-width: 5px;
  border-radius: 5%;
  padding:10px;
  height: auto;
  width: 30%;
  float: center; 
}

.regDiv{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border-color: var(--color-gray-950);
  border-style:solid;
  border-width: 5px;
  border-radius: 5%;
  padding:8px;
  height: auto;
  width: 50%;
  float: center; 
}

.regButtonDiv{
  position: relative;
  bottom: 0;
  left: 150px;
  
}

.grid-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.fields{
  border-color: var(--color-gray-950);
  border-style:solid;
  border-width: 3px;
  
}

.button {
  background-color: var(--color-gray-800);
  border: solid;
  border-width: 1px;
  border-color: var(--color-gray-950);
  color: var(--color-gray-50);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover{
    background-color: var(--color-gray-950);
}